* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {}

@media (max-width: 550px) {
  header {
    height: 144px;
    border-bottom: rgba(236, 236, 236, 0.747) 2px solid;
  }

  .nav-main {
    margin: 15px 5px;
    display: flex;
    flex-direction: column;

  }

  .nav-main .search-container {
    display: flex;
    justify-content: space-around;
  }

  .nav-main div .child {
    margin: 0 10px;

  }

  #nav-btn {
    width: 75%;
  }

  .category-carousel {
    display: flex;
    overflow-x: auto;
    margin-top: 6px;
  }

  .category-item {
    padding: 8px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-main {
    margin: 5px 20px;
  }

  .mini-card-carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    flex-wrap: nowrap;
  }

}