* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  header {
    height: 144px;
    border-bottom: rgba(236, 236, 236, 0.747) 2px solid;
  }

  .nav-main {
    margin: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-main .child {
    margin: 0 10px;

  }

  #nav-btn {
    width: 75%;
  }

  .category-carousel {
    display: flex;
    overflow-x: auto;
  }

  .category-item {
    padding: 8px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .category-item:active {}
}